<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Lise Therese</span></strong>. Tous Droits Réservés
      </div>
      
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <a href="tableau_de_synthese.html" class="tableau d-flex align-items-center justify-content-center"><i class="bi bi-journal-check"></i><span>Tableau de synthèse</span></a>

  
